#container {
    font-family: arial;
    font-size: 8pt;
    width: 350px;
    line-height: 10.5pt;
}

#title-bar {
    background-color: #407040;
    color: #FFFFFF;
    padding: 1px 5px 0px 5px;
    width: 340px;
    height: 16px;
}

#style-bar {
    background-color: #DDDDCC;
    background-image: url('http://omnichron.net/external/op/src/bg_350.jpg');
    font-style: italic;
    padding: 1px 0px 3px 5px;
}

#name {
    font-weight: bold;
    float: left;
}

#level {
    float: right;
}

.bold {
    font-weight: bold;
}

#content {
    padding-left: 5px;
}

#elements {
    padding: 0px 0px 0px 5px;
    background-image: none;
}