<div class="control-group">
  <div *ngFor="let info of characterHeader; let i = index"  class={{info.column}}>
    <label class="label label-info">{{info.title}}</label>
    <input class="form-control" id={{info.title.toLowerCase()}} type="text">
  </div>
</div>
<div style="float: left" class="col-md-2">
    <div *ngFor="let ability of abilityScores;" class="input-group">
      <span style="width:51px" class="input-group-addon" title="{{ability.description}}">{{ability.title}}</span>
      <input id={{ability.title.toLowerCase()}} class="form-control" type="text">
      <span style="width:45px" class="input-group-addon"></span>
    </div>
</div>
<div style="float: left" class="col-md-6">
  <div *ngFor="let defense of defenses;" class="input-group">
    <span id="1" class="input-group-addon" title="{{defense.description}}">{{defense.title}}</span>
    <input id={{defense.title.toLowerCase()}} class="form-control" type="text" aria-describedby="1">
    <div style="float: left" *ngFor="let ability of abilityScores;" class="col-md-1">
      <label class="label label-info">hei</label>
      <input class="form-control" type="text">
    </div>
  </div>
</div>
